<% title @campus.name %>
<% requires_stylesheets "campus-details" %>

<div class="row">
	<div id="campus" class="column grid_12">
		<h2 class="campus-name"><%= @campus.name %></h2>
		<div class="row">
			<div class="column grid_5">
				<!--<h4 id="locations-heading">Campus Locations</h4>-->
				<ol id="locations-list">
					<% @campus.locations.each do |location| %>
						<li>
							<div class="location-detail">
								<span class="location-name"><%= location.name %></span>
								<span class="location-description"><%= location.description %></span>
							</div>
						</li>
					<% end %>
				</ol>
			</div>
			<div id="campus-map" class="column grid_6"></div>
			<script type="text/javascript">
				$(function() {
					var locations = [
						<% @campus.locations.each do |location| %>
						new Array(new google.maps.LatLng(<%= location.latitude %>, <%= location.longitude %>), '<%= location.name %>'),
						<% end %>
					];

					var myOptions = {
						zoom: 16,
						center: locations[0][0],
						maxZoom: 18,
						disableDefaultUI: true,
						mapTypeId: google.maps.MapTypeId.HYBRID
					};
					
					var map = new google.maps.Map(document.getElementById("campus-map"), myOptions);
					var bounds = new google.maps.LatLngBounds ();
					
					for(var i = 0; i < locations.length; i++) {
						bounds.extend(locations[i][0]);
						
						new google.maps.Marker({
							position: locations[i][0],
						    map: map,
						    draggable: false,
							title: locations[i][1],
						    animation: google.maps.Animation.DROP
						});
					}
					
					map.fitBounds(bounds);
				});
			</script>
		</div>
	</div>
</div>