<h2><%= @location.campus.name %> - <%= @location.name %></h2>

<div>
	<%= @location.description %>
</div>

<div>
	<p>Latitude: <%= @location.latitude %></p>
	<p>Longitude: <%= @location.longitude %></p>
</div>