<div id="footer" class="row">
	<div class="column grid_12">
		<ul id="footer-link-list">
			<li><%= link_to "Home", root_url %></li>
			<li><%= link_to "Privacy Policy" %></li>
			<li><%= link_to "Terms of Use" %></li>
			<li><%= link_to "Support" %></li>
			<li><%= link_to "Contact" %></li>
		</ul>
	</div>
</div>