<div id="footer" class="row">
	<div class="column grid_12">
		<ul id="footer-link-list">
			<li><%= link_to "Home", root_url %></li>
			<li><%= link_to "Privacy Policy", privacy_url %></li>
			<li><%= link_to "Terms of Use", tos_url %></li>
			<li><%= link_to "Support", support_url %></li>
			<li><%= link_to "Contact", contact_url %></li>
		</ul>
	</div>
</div>