<!DOCTYPE HTML>
<html>
	<head>
		<title><%= content_for?(:title) ? yield(:title) : site_name %></title>
		<%= csrf_meta_tag %>
		<%= stylesheet_link_tag "global" %>
		<%= yield :stylesheets %>
		<%= javascript_include_tag "jquery.min" %>
		<%= javascript_include_tag "jquery-ui.min" %>
		<%= javascript_include_tag "rails" %>
	</head>
	<body>
		<%= render 'layouts/noscript' %>
		<%= render 'layouts/header' %>
		<%= yield %>
		<%= render 'layouts/footer' %>
		<%= render 'layouts/google_analytics' if Rails.env.production? %>
	</body>
</html>
