<!DOCTYPE HTML>
<html>
	<head>
		<title><%= page_title %></title>
		<%= csrf_meta_tag %>
		<%= render 'layouts/stylesheets' %>
		<%= render 'layouts/javascript' %>
	</head>
	<body>
		<noscript>
			<div id="noscript">
				<h5>Javascript Disabled!</h5>
				<p>In order to use CampusGPS, please enable JavaScript.</p>
				<p>Thanks!</p>
			</div>
		</noscript>
		<%= render 'layouts/header' %>
		<%= yield %>
		<%= render 'layouts/footer' %>
		<%= render 'layouts/google_analytics' if Rails.env.production? %>
	</body>
</html>
