<!DOCTYPE HTML>
<html>
	<head>
		<title><%= page_title %></title>
		<%= csrf_meta_tag %>
		<%= render 'layouts/stylesheets' %>
		<%= render 'layouts/javascript' %>
	</head>
	<body>
		<%= render 'layouts/noscript' %>
		<%= render 'layouts/header' %>
		<%= yield %>
		<%= render 'layouts/footer' %>
		<%= render 'layouts/google_analytics' if Rails.env.production? %>
	</body>
</html>
